---
import TestComponent from '../components/TestComponent';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>React Test</title>
  </head>
  <body style="background: black;">
    <TestComponent client:only="react" />
  </body>
</html>
